name: testing

on: 
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  build:
  
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 12
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"] #, "3.11"
        
    steps:
    - name: Checkout Repository 
      uses: actions/checkout@v3
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Setup Conda for Ubuntu and Mac
      if: matrix.os != 'windows-latest'
      run: |
        #$CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
        
    - name: Setup Conda for Windows
      if: matrix.os == 'windows-latest'
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true
        python-version: ${{ matrix.python-version }}
        conda-channels: anaconda, conda-forge
        
    - name: check python and conda version
      run: |
        conda --version
        which python
    
    - name: Install dependencies
      run: |
        conda install -c conda-forge rust
        python -m pip install --upgrade pip
        pip install pytest
        pip install -e .
    
    - name: Test with pytest
      run: pytest
