name: test

on: 
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - 'README.md'
      - 'pyproject.toml'
      - 'docs/**'
      - 'tutorials/**'
      - '.github/workflows/**'
  pull_request:
    branches:
      - main
      - dev
    paths-ignore:
      - 'README.md'
      - 'pyproject.toml'
      - 'docs/**'
      - 'tutorials/**'
      - '.github/workflows/**'
  workflow_dispatch:
  workflow_call:

jobs:
  build:
  
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 12
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12"]
        
    steps:
    - name: Checkout Repository 
      uses: actions/checkout@v3
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Setup Conda for Ubuntu and Mac
      if: matrix.os != 'windows-latest'
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest" 
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}

    - name: Setup Conda for Windows
      if: matrix.os == 'windows-latest'
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true
        python-version: ${{ matrix.python-version }}
        conda-channels: anaconda, conda-forge

    - name: Update conda and add channels
      run: |
        conda config --add channels conda-forge
        conda update -n base -c defaults conda
        conda update --all

    - name: check python and conda version
      run: |
        conda --version
        conda config --show channels
        which python
        python --version
    
    - name: Install dependencies
      run: |
        conda install -c conda-forge rust
        python -m pip install --upgrade pip
        pip install pytest
        pip install -e .
    
    - name: Test with pytest
      run: pytest
